<!-- main_header.hbs -->

<footer class="footer-nav {{#if role}}footer-{{role}}{{/if}}">
  <ul class="footer-nav__list">
    <li><a href="#">Copyright {{currentYear}}, All rights reserved</a></li>
  </ul>
</footer>