<!-- main.hbs -->

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{#each styles}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
</head>
<body class="app-body">
    {{> main_header role=role userData=userData}}  <!-- Pass both role and userData -->
    
    <main class="app-container">
        {{{body}}}
    </main>

    {{> main_footer role=role}}  <!-- Pass role to footer -->

    {{#each scripts}}
    <script src="/js/{{this}}.js"></script>
    {{/each}}
</body>
</html>