<!-- journal.hbs -->
<!DOCTYPE html>
<html>
    <head>
    <title>Journal</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/journal.css" />
    <meta charset="utf-8" />
    </head>
<body>


<header>
  <nav class="header" style="background-color: #007bff;">
    <ul class="nav-list">
      <li class="nav-item journal-item"><a href="/journal">Journal</a></li>
      <li class="nav-item subjects-item"><a href="/subject">Subjects</a></li>
      <li class="nav-item logout"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>








<div class="journal-cont-bod">
<div class="journal-cont">
    <!-- Middle Block: Journal Table -->
<div class="journal-container">

<div class="main-block">











    <div class="left-element">



<label for="subject">Subject:</label>
<select id="subject" data-subjects="{{subjects}}">
</select>

<label for="group">Group:</label>
<select id="group" data-groups="{{groups}}">
</select>


<label for="month">Month:</label>
<select id="month" data-months="{{months}}">
</select>


<label for="year">Year:</label>
<select id="year" data-years="{{years}}">
</select>










    <button id="display-btn" >Display</button>


    </div>



















    <div class="right-element">

<div class="lesson-block">
    <div class="lesson-block-header">
        <h2>Lessons Management: </h2>
        <button class="lesson-fold-btn" onclick="toggleLessonForm()">◀</button>
    </div>

    <div class="lesson-block-container collapsed" id="lessonContainer">
        <div class="lesson-action-button-block">
            <button class="lesson-action-btn active" onclick="handleLessonActionButtonClick(event, 'add')" data-form="add">Add</button>
            <button class="lesson-action-btn" onclick="handleLessonActionButtonClick(event, 'update')" data-form="update">Update</button>
            <button class="lesson-action-btn" onclick="handleLessonActionButtonClick(event, 'delete')" data-form="delete">Remove</button>
        </div>
        
        
        
        <div class="lesson-message-container">hi</div> <!-- Container for messages -->
         <div class="main-lesson-block">                              
            <div class="lesson-search-container">


                <input type="text" id="lessonSubjectSearchInput" placeholder="Search for a subject...">
                
                <div class="lesson-dropdown" id="lessonSubjectDropdown" style="display: none;">
                    <ul id="lessonSubjectList" class="lesson-dropdown-content"></ul>
                </div>


            </div>

            
        </div>















        <div class="forms" id="lessonForms">
            <div class="lesson-add-form" id="lessonAddForm" style="display: block;"> 

                <div class="form-group">
                    <label for="lesson-date">Lesson Date:</label>
                    <input type="text" id="add-lesson-date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label for="lesson-type">Lesson Type:</label>
                    <select id="add-lesson-type" autocomplete="off"></select>
                </div>
                <div class="button-block"> <!-- New container for buttons -->
                    <button class="lesson-save-button">Save</button>
                </div>
            </div>
            <div class="lesson-update-form" id="lessonUpdateForm">

                <div class="form-group">
                    <label for="lesson-date">Lesson Date (Old):</label>
                    <input type="text" id="update-from-lesson-date" placeholder="MM/DD/YYYY">

                    <label for="lesson-date">Lesson Date (New):</label>
                    <input type="text" id="update-to-lesson-date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label for="lesson-type">Lesson Type (Old):</label>
                    <select id="update-from-lesson-type" autocomplete="off"></select>

                    <label for="lesson-type">Lesson Type (New):</label>
                    <select id="update-to-lesson-type" autocomplete="off"></select>
                </div>
                <div class="button-block"> <!-- New container for buttons -->
                    <button class="lesson-update-button">Update</button>
                </div>
            </div>
            <div class="lesson-delete-form" id="lessonDeleteForm">

                <div class="form-group">
                    <label for="lesson-date">Lesson Date:</label>
                    <input type="text" id="delete-lesson-date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label for="lesson-type">Lesson Type:</label>
                    <select id="delete-lesson-type" autocomplete="off"></select>
                </div>
                <div class="button-block"> <!-- New container for buttons -->
                    <button class="lesson-delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>












<div class="grade-block">
    <div class="grade-block-header">
        <h2>Grade Management: </h2>
        <button class="grade-fold-btn" onclick="toggleGradeForm()">◀</button>
    </div>

    <div class="grade-block-container collapsed" id="gradeContainer">
        <div class="grade-action-button-block">
            <button class="grade-action-btn active" onclick="handleGradeActionButtonClick(event, 'add')" data-form="add">Add</button>
            <button class="grade-action-btn" onclick="handleGradeActionButtonClick(event, 'update')" data-form="update">Update</button>
            <button class="grade-action-btn" onclick="handleGradeActionButtonClick(event, 'delete')" data-form="delete">Remove</button>
        </div>
        
        <div class="grade-message-container">hi</div> <!-- Container for messages -->


        <div class="main-grade-block">                              
            <div class="grade-search-container">


                <input type="text" id="gradeSubjectSearchInput" placeholder="Search for a subject...">
                
                <div class="grade-dropdown" id="gradeSubjectDropdown" style="display: none;">
                    <ul id="gradeSubjectList" class="grade-dropdown-content"></ul>
                </div>


                <input type="text" id="gradeStudentGroupSearchInput" placeholder="Search for a group...">
                
                <div class="grade-dropdown" id="gradeStudentGroupDropdown">
                    <ul id="gradeStudentGroupList" class="grade-dropdown-content">           </ul>
                </div>


                <input type="text" id="gradeStudentSearchInput" placeholder="Search for a student...">
                
                <div class="grade-dropdown" id="gradeStudentDropdown">
                    <ul id="gradeStudentList" class="grade-dropdown-content">           </ul>
                </div>



            </div>

            
        </div>



        <div class="forms" id="gradeForms">

            <div class="grade-add-form" id="gradeAddForm" style="display: block;"> 
                <div class="form-group">
                    <label for="grade-date">Lesson Date:</label>
                    <input type="text" id="add-grade-date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                <label for="grade-type">Lesson Type:</label>

                <input type="text" id="LessonTypeAddInput" placeholder="Select lesson type...">
        
                </div>
                <div class="grade-dropdown" id="gradeLessonTypeAddDropdown" style="display: none;">
                    <ul id="gradeLessonTypeAddList" class="grade-dropdown-content"></ul>
                </div>

                <div class="form-group">
                    <label for="grade-date">New Grade:</label>
                    <input type="text" id="add-grade-grade" placeholder="New grade here...">
                </div>

                <div class="button-block">
                    <button class="grade-save-button" id="grade-add-button">Save</button>
                </div>
            </div>

            <div class="grade-update-form" id="gradeUpdateForm">

                <div class="form-group">
                    <label for="grade-date">Lesson Date:</label>
                    <input type="text" id="update-grade-date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                <label for="grade-type">Lesson Type:</label>

                    <input type="text" id="LessonTypeUpdateInput" placeholder="Select lesson type...">

                </div>
                    
                    <div class="grade-dropdown" id="gradeLessonTypeUpdateDropdown" style="display: none;">
                        <ul id="gradeLessonTypeUpdateList" class="grade-dropdown-content"></ul>
                    </div>

                <div class="form-group">
                    <label for="grade-date">Update Grade:</label>
                    <input type="text" id="update-grade-grade" placeholder="Update grade here...">
                </div>
                <div class="button-block"> 
                    <button class="grade-update-button" id="grade-update-button" >Update</button>
                </div>
            </div>
            <div class="grade-delete-form" id="gradeDeleteForm">

                <div class="form-group">
                    <label for="grade-date">Lesson Date:</label>
                    <input type="text" id="delete-grade-date" placeholder="MM/DD/YYYY">
                </div>

                <div class="form-group">
                    <label for="grade-type">Lesson Type:</label>
                    <input type="text" id="LessonTypeDeleteInput" placeholder="Select lesson type...">
                </div>

                <div class="grade-dropdown" id="gradeLessonTypeDeleteDropdown" style="display: none;">
                    <ul id="gradeLessonTypeDeleteList" class="grade-dropdown-content"></ul>
                </div>


                <div class="button-block">
                    <button class="grade-delete-button" id="grade-delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>




    </div>



{{!-- <button  id="edit-btn">Edit</button>   --}}
    
    </div>

<div id="table-container" style="margin-top: 20px;"></div>






      </div>
  </div>

<footer class="footer" style="background-color: #007bff;">
    <a class="footer-copyright" >© Copyright 2024, All rights reserved.</a>
</footer>

<script src="/js/client_journal.js"></script>
{{!-- <script src="/js/client_subject.js"></script> --}}
{{!-- <script src="/js/client_lessons.js"></script> --}}
<script src="/js/client_grades.js"></script>
</body>
</html>