{{!-- // teacher_groups.hbs --}}
<header>
<nav class="top-nav" style="background-color: #007bff;">
  <ul>
    <li><a href="#">Journal</a></li>
    <li><a href="#">Groups</a></li>
    <li><a href="#">Users</a></li>
      <li class="logout"><a href="/logout">Logout</a></li> <!-- Update the href attribute -->

  </ul>
</nav>
</header>



<div class="container-body">
<div>

</div>
</div>



<footer class="footer-nav" style="background-color: #007bff;">
  <ul>
    <li><a href="#">Copyright 2024, All right have served.</a></li>

  </ul>
</footer>